<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="loginstyles.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="loginForm" style="padding-top: 10px;">
        <h3>Sign Up</h3>
    
        <label for="username">Name</label>
        <input type="text" placeholder="Mr(s). Example" id="username">

        <label for="username">Username</label>
        <input type="text" placeholder="example123" id="username">

        <label for="username">Email</label>
        <input type="text" placeholder="example@example.example" id="username">
    
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
    
        <button type="button" style="margin-bottom: 5px;" onclick="signup()">Sign Me Up!</button>

        <p>Already have an account? 
            <a href="../index.html" style="color: rgb(34, 34, 214);">Sign in</a>
        </p>


    </form>
        <!-- <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> -->
        </div>
    </form>
    <script src="script.js"></script>
</body>
</html>
